module.exports = {
  // BIP39 mnemonic phrase
  MNEMONIC: "",
  
  // INFURA API key
  INFURA_KEY: "",

  BASE_RPC_KEY: ""
  BINANCE_RPC_KEY: ""

  // ETHERSCAN API key
  QUICKNODE_ZK_POLYGON_KEY: "",

  // OPTIMISM API key
  ETHERSCAN_KEY: "",

  OPTIMISM_KEY: "",

  // ARBITRUM API key
  ARBITRUM_KEY: "",

  // POLYGON API key
  POLYGON_KEY: "",

  // ZK_POLYGON_KEY API key
  ZK_POLYGON_KEY: "",

  // AVALANCHE API key
  AVALANCHE_KEY: "",

  // BINANCE_KEY API key
  BINANCE_KEY: "",

  // BINANCE_KEY API key
  BASE_KEY: "",

  // Proxy admin - can upgrade implementation contract
  PROXY_ADMIN_ADDRESS: "",
};
